const header = require("../../layout/header.hbs");
const navbar = require("../../layout/navbar.hbs");
const footer = require("../../layout/footer.hbs");
const search = require("../../layout/search.hbs");
const product = require("../home/product.hbs");

module.exports = ({user}, {currency, rate, products}, title = "Search EasyGetShop") => `
<!DOCTYPE html>
<html lang="en">

  <head>
    ${header(title)}

    <style>
      .container.search {
        min-height: 90vh;
      }

      .search-h {
        text-align: center;
        font-size: 24px;
        font-weight: normal;
        color: black;
        margin: 40px auto 30px auto;
      }
    </style>
  </head>


  <body>
    ${navbar(user)}

    <div class="root-container">

      ${search()}

      <main class="container search">
        <h4 class="search-h">Found ( ${!products[0]? 0 : products.length} ) items</h4>

        <ul class="product-list search">${products.render(p => product(p, currency, rate, "search"))}</ul>
      </main>

    </div>

    <script>
      document.forms[0].text.value = new URLSearchParams(window.location.search).get("text");
    </script>

    ${footer(user)}
  </body>

</html>
`