const header = require("../../layout/header.hbs");
const navbar = require("../../layout/navbar.hbs");
const footer = require("../../layout/footer.hbs");
const adminLinks = require("./admin-links.hbs");
const { Validator, Formatter } = require("k-utilities");

module.exports = ({user}) => `
<!DOCTYPE html>
<html lang="en">

  <head>
    ${header("Admin Dashboard orders")}

    <style>
      .shipment-wrapper {
        position: relative;
        background: var(--white);
        border-radius: 10px;
        margin: 25px 0;
        padding: 15px;
        box-shadow: 0 0 2px 0 var(--font);
      }

      .shipment-item {
        position: relative;
        display: flex;
        border-bottom: 0.5px solid var(--blur);
      }

      .shipment-item-img {
        overflow: hidden;
        min-width: 100px;
        max-width: 100px;
        margin-right: 10px;
      }

      .shipment-item-img>img {
        width: 100%;
        cursor: pointer;
      }

      .shipment-item-details {
        flex: auto;
        overflow: hidden;
      }

      .shipment-item-name {
        display: block;
        overflow: hidden;
        margin: 5px 0 5px 0;
        font-size: 17px;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-decoration: none;
      }

      .shipment-item-name:hover {
        color: var(--red);
      }

      .shipment-item-type,
      .shipment-item-size {
        display: flex;
        align-items: center;
      }

      .shipment-item-size {
        margin-top: 5px;
      }

      .type-name {
        margin-right: 10px;
        font-size: 15px;
      }

      .type-desc {
        overflow: hidden;
        display: flex;
        max-width: 135px;
        max-height: 60px;
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;
        box-shadow: 0 0 3px 0 var(--font);
        border-radius: 3px;
      }

      .type-desc.size,
      .type-desc>span {
        font-size: 15px;
        padding: 2px 3px;
      }

      .type-desc>img {
        max-width: 30px;
        max-height: 30px;
        cursor: pointer;
      }


      .shipment-item-quantity {
        position: absolute;
        bottom: 10px;
        right: 100px;
        font-size: 18px;
      }

      .shipment-info {
        display: flex;
        align-items: center;
        margin-top: 20px;
      }

      .shipment-info>p {
        min-width: 175px;
        width: 175px;
        text-align: center;
      }

      .address {
        flex: auto;
        display: flex;
        flex-flow: row wrap;
      }

      .address-info {
        display: flex;
        width: 50%;
        margin: 2px 0;
        font-size: 16px;
      }

      .address-info>dt {
        margin-right: 5px;
        min-width: 75px;
        font-weight: bold;
      }

      .shipping {
        display: flex;
        align-items: center;
        margin-top: 10px;
      }

      .carrier {
        min-width: 175px;
        width: 175px;
        text-align: center;
        text-decoration: none;
        color: var(--blue);
      }

      .carrier:hover {
        color: var(--red);
      }

      .tracking-number {
        flex: auto;
        color: var(--red);
      }

      .date {
        font-size: 12px;
        margin-top: 10px;
      }

      .order-date {
        display: inline-block;
        margin-right: 20px;
        padding-right: 20px;
        border-right: 1px solid var(--blur);
      }


      .buyer,
      .seller {
        display: inline-block;
        position: absolute;
        bottom: 20px;
        right: 20px;
        font-size: 18px;
        text-decoration: none;
        color: var(--blue);
        cursor: pointer;
      }

      .buyer {
        right: 100px;
      }

      .buyer:hover,
      .seller:hover {
        color: var(--red);
      }

      .shipment-item>.btn {
        display: inline-block;
        position: absolute;
        bottom: 10px;
        right: 0;
        padding: 3px 5px;
        font-size: 15px;
      }

      /* =============== Mobile, IPads & Tablet styles =============== */
      @media screen and (max-width: 850px) {
        .shipment-item {
          padding-bottom: 5px;
        }

        .shipment-item-img {
          min-width: 75px;
          max-width: 75px;
        }

        .shipment-item-details {
          padding-bottom: 1px;
        }

        .shipment-item-name {
          font-size: 15px;
        }

        .type-name {
          font-size: 15px;
        }

        .type-name>span {
          display: none;
        }

        .type-desc>img {
          max-width: 25px;
          max-height: 25px;
        }

        .shipment-info {
          display: block;
          margin-top: 10px;
        }

        .shipment-info>p {
          width: initial;
          margin-bottom: 5px;
          font-size: 16px;
          font-weight: bold;
        }

        .address {
          flex-flow: column;
        }

        .address-info {
          width: 100%;
        }

        .shipment-item-quantity {
          bottom: 10px;
          right: 100px;
          font-size: 15px;
        }

        .date,
        .shipment-carrier {
          margin: 10px 0 0 0;
          font-size: 15px;
        }
      }
    </style>
  </head>

  <body>
    ${navbar(user)}

    <div class="root-container">
      <main class="container">
        ${adminLinks()}
        <div class="tab-content orders">
          <form onchange="handleChange(this)">
            <div><input type="text" name="search" id="search" /></div>
            <div>Sort By
              <label for="asc">ASC<input type="radio" name="sortBy" value="asc" checked id="asc" /></label>
              <label for="desc">DESC<input type="radio" name="sortBy" value="desc" id="desc" /></label>
            </div>
            <button onclick="handleReminder()" type="button">Remind Customers</button>
          </form>
          <ul class="shipment-list">
            <li class="shipment-wrapper">
              <article class="shipment-item">
                <div class="shipment-item-img"><img onclick="previewPicture(event)" />
                </div>
                <div class="shipment-item-details">
                  <a href="/product/" class="shipment-item-name">ifvuwbf wovfuyewyfpobwe fwe</a>
                  <dl class="shipment-item-type">
                    <dt class="type-name">Type<span> / Color / Material</span>:</dt>
                    <dd class="type-desc type"><img /></dd>
                  </dl>
                  <dl class="shipment-item-size">
                    <dt class="type-name">Size<span> / Other</span>:</dt>
                    <dd class="type-desc size"><span>1 cm</span></dd>
                  </dl>
                </div>
                <p class="shipment-item-quantity">Quantity: <span>1</span></p>
                <button onclick="confirmDelivery(this)" type="button" name="" class="btn">Confirm</button>
              </article>
              <section class="shipment-info">
                <p>Shipping to:</p>
                <div class="address">
                  <dl class="address-info name">
                    <dt>Name: </dt>
                    <dd>Mister Tester</dd>
                  </dl>
                  <dl class="address-info street">
                    <dt>Street: </dt>
                    <dd>Test Street 90 2</dd>
                  </dl>
                  <dl class="address-info city">
                    <dt>City: </dt>
                    <dd>Amsterdam 1010EE</dd>
                  </dl>
                  <dl class="address-info country">
                    <dt>Country: </dt>
                    <dd>North Holland, Netherlands</dd>
                  </dl>
                  <dl class="address-info email">
                    <dt>Email: </dt>
                    <dd>test@kawaraa.com</dd>
                  </dl>
                  <dl class="address-info phone">
                    <dt>Phone: </dt>
                    <dd>+31646349555</dd>
                  </dl>
                </div>
              </section>
              <p class="shipping"><a href="" class="carrier">Carrier</a><span class="tracking-number"></span></p>
              <p class="date">Ordered <span class="order-date"></span> shipped <span class="shipping-date"></span></p>
              <a href="/admin/user/" class="buyer">Buyer</a>
              <a href="/admin/user/" class="seller">Seller</a>
            </li>
          </ul>
        </div>
      </main>
    </div>


    <script>
      const shipmentList = query(".shipment-list");
      const shipmentEl = query(".shipment-wrapper").cloneNode(true);
      shipmentList.innerHTML = "";

      ${ Validator.toString() }
      ${ Formatter.toString() }


      function handleChange(form) {
        const { search, sortBy } = form;
        fetchShipments("?search=" + search.value + "&sortBy=" + sortBy.value)
      }

      async function confirmDelivery(btn) {
        if (!confirm("Are you sure you want to mark this order as delivered?")) return;
        const url = "/api/admin/shipment?item=" + btn.dataset.itemId;
        setLoading(true);
        const res = await fetch(url, { method: "POST" }).then(res => res.json()).catch(networkError);
        setLoading(false);
        if (res.error) return showErrorMessage(res.error);
        btn.parentElement.parentElement.remove();

      }

      async function fetchShipments(query) {
        shipmentList.innerHTML = "";
        setLoading(true);
        const shipments = await fetch("/api/admin/shipments" + query).then(res => res.json()).catch(networkError);
        setLoading(false);
        if (shipments.error) return showErrorMessage(shipments.error);

        shipments.forEach(shipment => {
          const shipmentWrapper = shipmentEl.cloneNode(true);
          shipmentWrapper.querySelector(".shipment-item-img>img").src = shipment.picture;

          const shipmentItemNameEl = shipmentWrapper.querySelector(".shipment-item-name");
          shipmentItemNameEl.href += shipment.productNumber;
          shipmentItemNameEl.innerText = shipment.name;

          const typeEL = shipmentWrapper.querySelector(".type-desc.type");
          let el = null
          if (Validator.isUrl(shipment.type)) {
            el = document.createElement("img");
            el.onclick = previewPicture
            el.src = shipment.type;
          }
          else {
            el = document.createElement("span");
            el.innerHTML = shipment.type
          }
          typeEL.innerHTML = "";
          typeEL.appendChild(el);

          shipmentWrapper.querySelector(".type-desc.size").innerText = shipment.size;
          shipmentWrapper.querySelector(".shipment-item-quantity>span").innerText = shipment.quantity;

          shipmentWrapper.querySelector(".btn").dataset.itemId = shipment.itemId;
          shipmentWrapper.querySelector(".address-info.name>dd").innerText = shipment.fullName;
          shipmentWrapper.querySelector(".address-info.street>dd").innerText = shipment.street;
          shipmentWrapper.querySelector(".address-info.city>dd").innerText = shipment.city + " " + shipment.postalCode;
          shipmentWrapper.querySelector(".address-info.country>dd").innerText = shipment.state + ", " + shipment.country;
          shipmentWrapper.querySelector(".address-info.email>dd").innerText = shipment.email;
          shipmentWrapper.querySelector(".address-info.phone>dd").innerText = shipment.phone;
          shipmentWrapper.querySelector(".buyer").href += shipment.buyerId;
          shipmentWrapper.querySelector(".seller").href += shipment.sellerId;

          shipmentWrapper.querySelector(".order-date").innerText = Formatter.dateToText(shipment.orderDate);
          shipmentWrapper.querySelector(".shipping-date").innerText = Formatter.dateToText(shipment.shippingDate);

          shipmentWrapper.querySelector(".carrier").href = shipment.carrier;
          shipmentWrapper.querySelector(".tracking-number").innerText = shipment.trackNumber;
          shipmentList.appendChild(shipmentWrapper);
        });
      }

      fetchShipments("?search=&sortBy=asc");

      async function handleReminder() {
        setLoading(true);
        const res = await fetch("/api/admin/shipments/reminder-email").then(res => res.json()).catch(networkError);
        setLoading(false);
        if (res.error) return showErrorMessage(res.error);
      }
    </script>

    ${footer(user)}
  </body>

</html>
`