const header = require("../layout/header.hbs");
const navbar = require("../layout/navbar.hbs");
const footer = require("../layout/footer.hbs");

module.exports = ({user}) => `
<!DOCTYPE html>
<html lang="en">

  <head>
    ${header("About xxxx")}
    <style>
      .contact-form {
        max-width: 600px;
        margin: 50px auto;
        padding: 50px 30px;
      }

      .heading {
        text-align: center;
      }

      .input-field {
        position: relative;
        margin-top: 30px;
      }

      .input-field>label {
        display: block;
        font-size: 18px;
      }

      .input-field>input {
        display: block;
        width: 100%;
        padding: 5px;
        font-size: 16px;
        background: none;
        border: none;
        border-bottom: 1px solid var(--dark);
        outline: none;
      }

      #message {
        display: block;
        width: 100%;
        height: 175px;
        padding: 5px;
        font-size: 16px;
        resize: none;
        background: none;
        border: none;
        border-bottom: 1px solid var(--dark);
        outline: none;
      }

      .contact-form>.btn {
        display: block;
        width: 100px;
        margin: 20px auto;
      }

      #success-message {
        display: none;
        position: fixed;
        top: 40vh;
        left: 50%;
        transform: translateX(-50%);
        background: var(--white);
        padding: 30px;
        min-width: 60%;
        max-width: 90%;
        font-size: 18px;
        color: var(--green);
        border-radius: 10px;
        box-shadow: 0 0 2px 0 var(--font);
      }

      #success-message.show {
        display: block;
        animation: opacity 1s ease;
      }

      /* =============== Mobile, IPads & Tablet styles =============== */
      @media screen and (max-width: 850px) {
        .heading {
          font-size: 28px;
        }

        .contact-form {
          margin-top: 0;
        }

        #message {
          height: 100px;
        }
      }
    </style>
  </head>

  <body>
    ${navbar(user)}

    <div class="root-container">

      <main class="container">
        <form onsubmit="handleSubmit(event)" class="contact-form">
          <h1 class="heading">Contact us!</h1>
          <div class="input-field">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" />
          </div>
          <div class="input-field">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" />
          </div>
          <div class="input-field">
            <label for="subject">Subject</label>
            <input type="text" name="subject" id="subject" />
          </div>
          <div class="input-field">
            <label for="message">Message</label>
            <textarea name="message" id="message"></textarea>
          </div>
          <button type="submit" class="btn">Send</button>
        </form>
        <div id="success-message">Thanks for your message, we will get back to you very soon.</div>
      </main>
    </div>
    <script>
      async function handleSubmit(e) {
        e.preventDefault();
        const body = JSON.stringify(formToObject(e.target));
        const options = { method: "POST", headers: { "Content-Type": "application/json" }, body };
        setLoading(true);
        const res = await fetch("/api/customer", options).then(res => res.json()).catch(networkError);
        setLoading(false);
        if (res.error) return showErrorMessage(res.error);
        e.target.reset();
        addClass(queryId("success-message"), "show");
        setTimeout(() => removeClass(queryId("success-message"), "show"), 10000)
      }
    </script>

    ${footer(user)}
  </body>

</html>
`