const header = require("../layout/header.hbs");
const navbar = require("../layout/navbar.hbs");
const footer = require("../layout/footer.hbs");

module.exports = ({user}) => `
<!DOCTYPE html>
<html lang="en">

  <head>
    ${header("Privacy Privacy Kawara")}
    <style>
      .container.policy {
        margin-bottom: 100px;
      }

      .container.policy h1 {
        margin: 100px 0 10px 0;
        font-size: 30px;
      }

      .container.policy p {
        margin: 30px 0;
        font-size: 17px;
        line-height: 30px;
        line-height: 25px;
      }

      .container.policy .last-update {
        margin: 10px 0 0 0;
        font-size: 14px;
      }

      .container.policy ul {
        margin: 0 0 30px 30px;
      }

      .container.policy li {
        margin: 8px 0;
        line-height: 25px;
        font-size: 17px;
      }
    </style>
  </head>

  <body>
    ${navbar(user)}

    <div class="root-container">

      <main class="container policy">
        <h1>Privacy Privacy</h1>
        <p class="last-update">Last updated: February 12, 2021</p>
        <p>Protecting your private information is our priority. This Statement of Privacy applies to all references of
          kawaraa.com By using the <a href="/">kawaraa.com</a> website, you consent to the data practices described in
          this
          statement.</p>

        <h3></h3>
        <p></p>

        <h2 id="cookie-policy">Cookie Policy</h2>
        <p class="last-update">Last updated: February 12, 2021</p>
        <p>
          This cookie policy describes how "Kawara" uses “cookies” and other similar technologies, in
          connection with our Site and Services. Any capitalized term used and not otherwise defined below has the
          meaning assigned to it in the Privacy Policy.
        </p>

        <h3>1. What is a Cookie?</h3>
        <p>Cookies are small text files that are stored in a computer’s browser directory. They help site providers with
          things like understanding how people use a site, remembering a User’s login details, and storing site
          preferences.
        </p>

        <h3>2. Does Kawaraa.com use Cookies?</h3>
        <p>
          Yes. We use cookies in accordance with our Privacy Policy to:
        </p>
        <ul>
          <li>ensure that our Services function properly,</li>
          <li>detect and prevent scammers,</li>
          <li>understand how visitors use and engage with our Site, and</li>
          <li>analyze and improve Services.</li>
        </ul>

        <h3>3. Who sets cookies when I use Kawara Site?</h3>
        <p>There are two main types of cookies that can be set:</p>
        <ul>
          <li>First party cookies: these cookies are placed and read by kawaraa.com directly when you use our Services,
          </li>
          <li>Third party cookies: these cookies are not set by kawaraa.com, but by other companies, like Google or
            Facebook,
            for site analytics purposes. See further <a href="#necessary-cookies">details</a> below on how to manage
            these cookies.</li>
        </ul>

        <h3>4. How Kawara Uses Cookies</h3>
        <p>Cookies play an important role in helping us provide effective and safe Services. Below is a description of
          the commonly used.</p>

        <h3 id="necessary-cookies">Necessary Cookies</h3>
        <p>Some cookies are essential to the operation of our Site and Services and make it usable and secure by
          enabling basic
          functions like page navigation and access to secure areas of the Site. We use those cookies in a number of
          different
          ways, including:
        </p>
        <ul>
          <li><strong>Authentication</strong>. To remember your login state so you don’t have to log in as you navigate
            through our Site.</li>
          <li>
            <strong>Fraud Prevention and Detection</strong>. Cookies and similar technologies that we deploy through
            our Site help us
            learn things
            about computers and web browsers used to access the Services. This information helps us monitor for and
            detect
            potentially harmful or illegal use of our Services. For example, in order to process payments transactions
            for our Users, it is necessary for Kawara to collect information about the transaction and the Customer. To
            help
            secure these transactions and minimize fraud, we collect additional information through the use of cookies
            and other technologies in helping to identify bad actors and prevent them from making fraudulent
            transactions.
          </li>
          <li><strong>Security</strong>. To protect user data from unauthorized access.</li>
          <li>
            <strong>Functionality</strong>. To keep our Site and Services working correctly, like showing you the
            right information for your selected
            location.
          </li>
        </ul>
      </main>
    </div>

    <script>

    </script>

    ${footer(user)}
  </body>

</html>
`