module.exports = (name, email, link) => `
<article style="font-family: sans-serif; margin-top: 50px; padding: 20px; box-shadow: 0 0 2px 0; border-radius: 10px;">
  <h1>Hi ${name}!</h1>
  <p style="font-size: 25px;">Thanks for becoming a member of <a href="https://kawaraa.com">kawaraa.com</a></p>
  <p style="font-size: 18px;">
    Please click <a href="${link}">here</a> to confirm your
    <strong style="color:  #585757; font-size: 20px;">
      <span style="color:#24305e;">K</span>a<span style="color: #f76c6c;">w</span>ar<span
        style="color: #6495ed;">a</span>
    </strong>
    account.<br />If the button
    doesn't
    work, you can copy the link below and paste
    it in your browser.
  </p>
  <a href="${link}">${link}</a>
</article>
`;