module.exports = (origin, name ) => `
<article
  style="font-family: sans-serif; margin-top: 50px; padding: 20px; box-shadow: 0 0 2px 0; border-radius: 10px;"
>
  <h1>Hi ${name}!</h1>
  <p style="font-size: 20px;">
    You have a new order on
    <a href="https://kwashopping.com" style="color:#585757;  font-weight: bold;">
      <span style="color:#24305e;">K</span>a<span style="color:#f76c6c;">w</span>ar<span
        style="color: #6495ed;"
      >a</span>
    </a>, You can see the order details on seller dashboard under orders tab, or you can click
    <a href="${origin}/seller/orders">here</a>.<br /><br />
    Please ship the items within 24 hours.
  </p>
</article>
`;