const header = require("../../layout/header.hbs");
const navbar = require("../../layout/navbar.hbs");
const footer = require("../../layout/footer.hbs");

module.exports = ({user}, error) => `
<!DOCTYPE html>
<html lang="en">

  <head>
    ${header("Payment completion")}
    <style>
      .container.about {
        min-height: 90vh;
      }

      .go-back-link {
        display: block;
        text-decoration: none;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 100px;
        left: 40px;
        cursor: pointer;
      }

      .go-back-svg {
        width: 100%;
        height: 100%;
        stroke-width: 50px;
        stroke: var(--font);
        fill: var(--font);
        transition: 0.1s ease;
      }

      .go-back-svg:hover {
        stroke-width: 10px;
        stroke: var(--font);
        fill: var(--red);
      }

      .heading {
        margin-top: 100px;
        font-size: 30px;
        text-align: center;
        color: var(--green);
      }

      .heading.error {
        color: var(--red);
      }

      .info-para {
        margin-top: 50px;
        text-align: center;
        font-size: 16px;
      }

      .contact-email {
        font-weight: bold;
        color: var(--blue);
        font-family: sans-serif;
      }

      /* =============== Mobile, IPads & Tablet styles =============== */
      @media screen and (max-width: 850px) {
        .go-back-link {
          width: 30px;
          height: 30px;
          top: 80px;
          left: 30px;
        }

        .heading {
          margin-top: 80px;
          font-size: 26px;
        }

        .info-para {
          font-size: 15px;
        }
      }
    </style>
  </head>

  <body>
    ${navbar(user)}

    <div class="root-container">
      <main class="container about">
        <a href="/" class="go-back-link nf" tabindex="0">
          <svg class="go-back-svg">
            <use href="#left-arrow-svg-symbol" />
          </svg>
        </a>

        ${!error? `
        <h1 class="heading">Hi!<br />Payment has been confirmed, you will receive an confirmation Email very soon.</h1>
        <p class="info-para">
          We appreciate your business! If you have any questions, please contact us on
          <a href="mailto:orders@example.com" class="contact-email">orders@example.com</a>.
        </p>
        ` : `
        <h1 class="heading error">Failed!<br />Payment has not been confirmed, please try again</h1>
        `}

      </main>
    </div>

    <script>

    </script>

    ${footer(user)}
  </body>

</html>
`